
      <% @fruits.each do |f| %>
        <section>
          <%= f.name%>
          <img src="fru.jpg">
          <a href="">Add To Cart</a>
          <a href="">Some Facts</a>
        </section>
        
      <%end%>