<!-- <p id="notice"><%= notice %></p> -->

<!-- <header>
  <div id="logo"><img src="logo.png" height="60px"></div>
  <div id="title"><h1>Fresh World</h1></div>
  <div id="login"><a href="">Login</a></div>
</header> -->



<header id="subheading">
  <div id="itemSearch">
     <a href="">Fruits</a>
     <a href="">Vegetables</a>
     <a href="">Combos</a>
     <a href="">Offers</a>
     <a href="">Exotic</a>
   </div>
   <div id="search"><a href=""> Search</a></div> 
</header>

<main>

  <section id="ad">
    <div>Ad</div>
  </section>

  <section id="item">
    <div id="items">
      <section>
      ITEM 1
      <img src="fru.jpg">
      <a href="">Add To Cart</a>
      <a href="">Some Facts</a>
      </section>

      <section>
      ITEM 2
      <img src="fru.jpg">
      <a href="">Add To Cart</a>
      <a href="">Some Facts</a>
      </section>

      <section>
      ITEM 3
      <img src="fru.jpg">
      <a href="">Add To Cart</a>
      <a href="">Some Facts</a>
      </section>

      <section>
      ITEM 4
      <img src="fru.jpg">
      <a href="">Add To Cart</a>
      <a href="">Some Facts</a>
      </section>

      <section>
      ITEM 5
      <img src="fru.jpg">
      <a href="">Add To Cart</a>
      <a href="">Some Facts</a>
      </section>

      <section>
      ITEM 6
      <img src="fru.jpg">
      <a href="">Add To Cart</a>
      <a href="">Some Facts</a>
      </section>

      <section>
      ITEM 7
      <img src="fru.jpg">
      <a href="">Add To Cart</a>
      <a href="">Some Facts</a>
      </section>
    </div>
  </section>

  <section id="cart">
    <div>
      Cart
      <% if user_signed_in? %>
      <%= button_to "PROCEED AND CHECKOUT",new_cart_path,method: :get %>
      
      <% end %>
    </div>
    
  </section>
</main>
<!-- <footer>
  Footer
</footer> -->