<p id="notice"><%= notice %></p>

<header>
  <div id="logo"><img src="logo.png" height="60px"></div>
  <div id="title"><h1>Fresh World</h1></div>
  <div id="login">Login</div>
</header>

<main id="subheading">
  <div id="itemSearch">
    <button>Fruits</button>
    <button>Vegetables</button>
    <button>Combos</button>
    <button>Offers</button>
    <button>Exotic</button>
  </div>
  <div id="search">Search</div>
  
</main>


<main id="left">
  <div>Ad</div>
</main>

<main id="center">
  <div id="item">Items</div>
</main>

<main id="right">
  <div>Cart</div>
</main>

<footer>
  Footer
</footer>