<!-- <p id="notice"><%= notice %></p>
 -->
<!-- <header>
  <div id="logo"><img src="logo.png" height="60px"></div>
  <div id="title"><h1>Fresh World</h1></div>
  <div id="login"><a href="">Login</a></div>
</header> -->



<header id="subheading">
  <div id="itemSearch">
     <a href="vegetable">Vegetables</a>
     <a href="">Combos</a>
     <a href="">Offers</a>
     <a href="">Exotic</a>
   </div>
   <div id="search"><a href=""> Search</a></div> 
</header>

<main>

  <section id="ad">
    <div>Ad</div>
  </section>

  <section id="item">
    <div id="items">
      <%= render 'offer' %>





      



      



    </div>
  </section>

  <!-- <section id="cart"> -->
    <div>
      Cart
      <%= button_to "PROCEED AND CHECKOUT",new_cart_path,method: :get %>
    </div>
    
  </section>
</main>
<footer>
  Footer
</footer>